.wrapper {
    width: 100%;
    height: auto;
    .container {
        border-top: 4px solid rgba(22, 157, 173, 0.1);
        width: 80%;
        height: auto;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding: 5vh 0 5vh 0;
        .flex_div {
            width: 25%;
            .icons {
                width: 50%;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
                img {
                    width: 10%;
                    filter: invert(63%) sepia(62%) saturate(5049%) hue-rotate(151deg) brightness(89%) contrast(83%);
                    opacity: .5;
                    transition: all ease .5s;
                    cursor: pointer;
                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }
}