.wrapper {
    width: 100%;
    height: auto;
    .container {
        border-top: 4px solid rgb(168, 168, 243);
        width: 80%;
        height: auto;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding: 5vh 0 5vh 0;
        .flex_div {
            width: 25%;
            .icons {
                width: 50%;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
                img {
                    width: 10%;
                    filter: invert(9%) sepia(100%) saturate(7445%) hue-rotate(249deg) brightness(86%) contrast(143%);
                    opacity: .5;
                    transition: all ease .5s;
                    cursor: pointer;
                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }
}