.wrapper {
    width: 100%;
    height: auto;
    .container {
        margin: 0 auto;
        width: 90%;
        background: rgba(blue, .05);
        border-radius: 100px;
        padding: 5vh 0 5vh 0;
        position: relative;
        h1 {
            text-align: center;
            font-size: var(--medium-title);
            font-weight: 500;
            width: 60%;
            margin: 0 auto;
            padding: 5vh 0 0 0;
        }
        
        .steps_container {
            padding: 5vh 0 5vh 0;
            height: auto;
            width: 80%;
            margin: 0 auto;
            position: relative;
            .content_wrapper {
                display: flex;
                justify-content: space-between;
            }
            .bubble {
                width: 40%;
                height: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                .circle {
                    width: 30vh;
                    height: 30vh;
                    border-radius: 50%;
                    border: 5px solid rgba(blue, .5);
                    display: flex;
                justify-content: center;
                align-items: center;
                    img {
                        filter: invert(9%) sepia(100%) saturate(7445%) hue-rotate(249deg) brightness(86%) contrast(143%);
                        height: 50%;
                        opacity: .5;
                    }
                }
            }
            .step {
                width: 50%;
                margin: 0 auto;
                padding: 15vh 0 15vh 0;
                span {
                    display: block;
                    width: 3vw;
                    height: 3vw;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    background: #0000ff;
                    font-weight: 700;
                    font-size: 1vw;
                    color: white;
                    -webkit-box-shadow: 5px 23px 38px -18px rgba(grey,0.75); 
                    box-shadow: 5px 23px 38px -18px rgba(grey,0.75);
                }
                h1 {
                    margin: 0;
                    text-align: left;
                    padding: 5vh 0 2vh 0;
                    font-size: var(--small-title);
                    font-weight: 500;
                }
            }
        }
    }
}

@media (max-width: 991.98px) {
    .wrapper {
        padding: 5vh 0 5vh 0;
        .container {
            border-radius: 50px;
            h1 {
                width: 80%;
            }
            .steps_container {
                .bubble {
                    display: none;
                }
                .step {
                    width: 100%;
                    padding: 15vw 0 15vw 0;
                    span {
                        height: 5vh;
                        width: 5vh;
                        font-size: 2vh;

                    }
                    h1 {
                        font-size: var(--medium-title);
                    }
                }
            }
        }
    }
    
  }